<?xml version="1.0"?>

<!--<sessionState timeout= "5"></sessionState>
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="club_webConnectionString1" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=club_web;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="club_webConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=club_web;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
